@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

@media screen and (max-width: 640px) {
  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

::selection {
  background-color: rgba(37, 126, 92, 0.7);
  color: #000;
}
